body {
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Gris oscuro */
    color: #f3f3f3; /* Gris claro para el texto */
}

#divbodyholder {
    padding: 5px;
    background-color: #444; /* Gris oscuro */
    width: 100%;
    max-width: 874px;
    margin: 24px auto;
}

#divbody {
    border: solid 1px #ccc;
    background-color: #555; /* Gris más claro para contraste */
    padding: 0px 48px 24px 48px;
    top: 0;
}

.headerholder {
    background-color: #666; /* Gris medio */
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}

.header {
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
    padding-top: 24px;
    padding-bottom: 8px;
    color: #f3f3f3; /* Texto gris claro */
}

.content {
    margin-bottom: 5%;
}

.nomargin {
    margin: 0;
}

.description {
    margin-top: 10px;
    border-top: solid 1px #666;
    padding: 10px 0;
    color: #f3f3f3; /* Texto gris claro */
}

h3 {
    font-size: 20pt;
    width: 100%;
    font-weight: bold;
    margin-top: 32px;
    margin-bottom: 0;
    color: #f3f3f3; /* Texto gris claro */
}

.clear {
    clear: both;
}

#footer {
    padding-top: 10px;
    border-top: solid 1px #666;
    color: #ccc; /* Texto gris claro */
    text-align: center;
    font-size: small;
    font-family: "Courier New", "Courier", monospace;
}

a {
    text-decoration: none;
    color: #99ccff !important; /* Azul claro */
}

a:visited {
    text-decoration: none;
    color: #6699cc !important; /* Azul medio */
}

blockquote {
    background-color: #777; /* Gris medio */
    border-left: solid 4px #999; /* Gris claro */
    margin-left: 12px;
    padding: 12px 12px 12px 24px;
    color: #f3f3f3; /* Texto gris claro */
}

blockquote img {
    margin: 12px 0px;
}

blockquote iframe {
    margin: 12px 0px;
}
